.main__left {
    
}


.aside__category {
    
}

.asideCategory__title {
    background-color: #3b84b0;
}

.asideCategoryTitle__icon {
    color: white;
}

.asideCategoryTitle__heading {
    
}

.asideCategoryTitle__heading h3 {
    color: white;
}

.asideCategory__list {}

.asideCategory__list ul {}

.asideCategory__list ul li {}

.asideCategory__list ul li a {}

.aside__bestSeller {}

.asideBestSeller__title {}

.asideBestSellerTitle__icon {}

.asideBestSellerTitle__heading {}

.asideBestSellerTitle__heading h3 {}

.asideBestSeller__list {}

.products {}

.productImage {}

.productImage img {}