nav{
    background-color: #222326; 
}
.nav__menu{ 
    width: 75%;
}
.nav__menu ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__menu ul li{
    list-style: none;
}
.nav__menu ul li a{
    color:white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 18px;
}
.nav__menu ul li a:hover{
    background-color:#696969;
    
}
.nav__menu ul li.active a{
    background-color:#696969;
}
.nav__search{
    color: white;
    text-align: right;
    width: 25%;
}